<div class="row mb-1 mt-1 card">
    <div class="col">
        <div class="row">
            <div class="col" style="text-align:left">
                <div class="form-check">
                    <input class="form-check-input set_up_rollcall_input" value="now" type="radio" name="now_or_schedule" id="start_time_now" checked>
                    <label class="form-check-label" for="start_time_now">
                    Now
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto" style="text-align:left">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="schedule" name="now_or_schedule" id="start_time_schedule" >
                    <label class="form-check-label" for="start_time_schedule" style="white-space: nowrap;">
                        Schedule for
                    </label>
                </div>
            </div>
            <div class="col" style="text-align:left">
                <input type="datetime-local" class="set_up_rollcall_input" id="started"
                    name="started" value="2018-06-12T19:30">
            </div>
        </div>
    </div>
</div>
<div class="row mb-1 mt-1 card">
    <div class="col" style="text-align:left">
    </div>
    <div class="col-md-auto" style="text-align:center">
        <button hx-post="/set-up-rollcall" hx-include=".set_up_rollcall_input"
        hx-push-url="true" hx-target="#content_col"
        hx-swap="innerHTML" class="btn btn-primary btn-sm">Set Up Rollcall</button>
    </div>
    <div class="col" style="text-align:left">
    </div>
</div>